@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #E2C2C6;
    display:flex;
    font-family: 'Mulish', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    overflow-x: hidden;
}

h1{
    margin:10px;
}

.box{
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width:400px;
    height:200px;
    margin:15px;
    border-radius: 10px;
    box-shadow:2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(300%);
    transition: transform 0.6s ease;
}

.box:nth-child(odd){
    background-color:#5D2E46;
}

.box:nth-child(even){
    background-color:#330C2F;
    transform:translateX(-300%);
}

.box.show{
    transform: translateX(0);
}